html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    line-height: 150%;
    font-family: "Inter", sans-serif;
}
button,input{
    appearance: none;

}
.container {
    max-width: 1440px;
    width: 96%;
    margin: 0 auto;
}

.hero {
    /* background-image: url(../images/hero.jpg);
    background-size: cover; */
    background-color: #16C7FF;
    min-height: 100vh;
    padding-bottom: 60px;
    box-sizing: border-box;
    position: relative;
}

.hero:after{
    content: '';
    height: 100%;
    width: 62.2%;
    background-image: url(../images/hero-after.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    bottom: 0;
    right: 0;
}
.hero .container{
    position: relative;
    z-index: 100;
}
.hero-img{
    position: absolute;
    right: -64px;
    bottom: -40px;
}
.header {
    padding: 30px 0 20px;
    border-bottom: 1px rgba(255, 255, 255, 0.6) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header a {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    text-decoration: none;
}

.header a+a {
    margin-left: 40px;
}

.center {
    max-width: 953px;
    margin: 205px 0;
    color: #fff;
}

.center h1 {
    margin: 0;
    font-size: 50px;
    line-height: 120%;

}

.center p {
    margin: 20px 0 50px;
    line-height: 150%;
    max-width: 831px;

}

.center a {
    display: block;
    max-width: 297px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px 24px;
    line-height: 150%;
    color: #115793;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    color: #fff;
}

.round {
    height: 84px;
    width: 84px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.bottom span {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.gift .container {
    border: 1px solid white;
}

.gift-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    /* justify-content: space-between; */
}

.gift-item {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.gift{
    padding: 100px 0;
}
.gift .row{
    display: flex;  
    flex-wrap: wrap;
    margin: -10px;
}
.gift .item-container{
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.gift .item{
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #E6F9FF;
}
.gift .item-icon{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: #00AEEF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.gift p{
    min-height: 81px;
    display: flex;
    align-items: center;
}

.section-head{
    margin-bottom: 60px;
    max-width: 832px;
}
.section-head h2{
    color: #1F1F1F;
    font-size: 40px;
    line-height: 130%;
    font-weight: 500;
    margin: 0;
}
.section-head.white h2,.section-head.white p{
    color: #fff;
}
.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px 100px -10px;

}
.block_table{
    background-color: white;
    width: 31%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 20px;
}
.background {
    display: flex;
    flex-wrap: wrap;
}
.block_table p{
    background-color: #E6F9FF;
    border-radius: 5%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 415px;
    min-height: 136px; /*в макете высота голубых блоков разная, не разобрались как правильно сделать и сделали мин высоту по максимальному блоку*/
    display: flex;
    align-items: center;
    margin: 20px 30px 20px 22px;
    padding: 0 20px;
}
.block_table h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    margin-top: 30px;
    margin-left: 30px;
}
ul {
    list-style-type:none;
    padding-left: 30px;
    margin-bottom: 30px;
}
li {
    margin-bottom: .5em;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
li::before{
    content: '\25CF';
    color: #00AEEF;
    padding-right: 22px;
}

.grey-section{
    background-color: #F7F9FC;
    padding: 100px 0;
}

.offer{
    padding: 50px;
    background-color: #16C7FF;
    border-radius: 10px;
    position: relative;
}
.offer .left{
    width: 60%;
}
.block1_white {
    display: flex;
    justify-content: space-between;

}
.left_white {
    color: #ffffff;
    max-width: 781px;
    /* border: 1px solid black; */
    margin-right: 40px;
    margin-bottom: 40px;
}
.left_white h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    margin: 0 0 20px 0;
}
.left_white p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
}
.cloud-left {
    position: absolute;
    top: 54px;
    left: 872px;
}
.cloud-right {
    position: absolute;
    top: 63px;
    left: 1043px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.left {
    /* border: 1px solid black; */
    margin-right: 40px;
    width: 762px;
}
.right {
    /* border: 1px solid black; */
    width: 538px;
}
.bonuses{
    padding: 71px 40px;
    background-color: #fff;
    border-radius: 10px;
    max-height: 362px;
    box-sizing: border-box;
}
.bonuses-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin: 0 0 40px 0;
}
.bonuses .grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 40px 30px;
}
.bonuses-item{
    display: flex;
    
}
.bonuses-item .icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #00AEEF;
    flex-shrink: 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bonuses-item  p{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
input::placeholder{
    color: #1F1F1F;
    padding-left: 20px;
}
input{
    height: 60px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid #E9F2FF;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form p, a {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    max-width: 400px;
    margin-bottom: 27px;
}
.form button {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 24px;
    width: 224px;
    height: 53px; 
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.butt {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    line-height: 150%;
    font-size: 18px;
    color: #115793;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    margin: 0;
}

@media (max-width:1024px){
    .gift .item-container{
        width: 50%;
    }
}

@media (max-width:576px){
    .gift .item-container{
        width: 100%;
    }
}
.footer{
    background-color: black;
    padding: 30px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 240px;
    padding-right: 240px;

    
}
.footer a {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    text-decoration: none;
}

/* @media (max-width:1366px) {
    .center h1{
        font-size: 30px;
    }
     media.css лучше пока подключать отдельным файлом из папки медиа и там писать весь адаптив
}
@media (max-width:576px) {
    .header{
        flex-direction: column;
    }
} */
/* @media (orientation:portair){
проверяет в какой ориентации телефон или :landscape
} */
/* @media (print){
использует стили при попытке распечатать сайт
} */

/* смотрим сначала какие размеры для адаптива,
дальше смотрим на ширину контейнера общего
делаем десктопную версию
можно делать по блочно - сделали блок, прописали адаптив.
МОжно полностью сделать а затем прописать всем медиа адаптив
Просмотреть критические точки - 1366 px наприемр, проверить что на них ничего не разъехалось.
видим что на какой то ширине не влезает что то - 
пишим медиа запрос@media на эту ширину 
обычно если небольшое уменьшение ширины то только отступы уменьшить и будет по макету
если верстка начинает ломаться, отмечаем этот размер и от него начинаем адаптивить
все лишнее на адаптиве скрываем через дисплэй нон, наприер стрелку убрать чтоб ракета сместилась вниз
див класс=хедер хедер--блэк задать два класса - для многостраничника
лямда тест - эмулятор для теста на мобилках
при адаптиве - ракета когда замечаем что начинает ехать вниз - ставим ей позишн статик чтоб она рухнул вниз?
 */

