html, body{
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
    line-height: 150%;
    font-family: "Inter", sans-serif;
}
.container{
    min-width: 1440px;
    width: 96%;
    margin: 0 auto;
}
.hero{
    background-image: url(../images/herobg.jpg);
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.header{
    padding: 30px 0 20px;
    border-bottom: 1px rgba(255, 255, 255, 0.6) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    text-decoration: none;
}
.header a + a{
    margin-left: 40px;
}
h1{
    font-size: 50px; 
    font-weight: 700; 
    line-height: 60px;
    margin: 0;
}
.center p{
    font-size: 18px; 
    font-weight: 400; 
    line-height: 27px;
    margin: 20px 0px 50px;
    max-width: 831px;
}
.center {
    color: #ffffff;
    padding: 30px 0 20px;
    max-width: 953px;
    height: 356px;
    margin-top: 100px;
}
button {
    width: 297px;
    height: 53px;
    top: 598px;
    left: 240px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    margin-top: 50px;
    text-align: center;
    color: #115793; 
    font-size: 18px; 
    line-height: 27px;
    font-weight: 500;
    border: none;
}
.bottom {
  display: flex;
  align-items: center;

}
.circle {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.slovo {
    color: #ffffff;
    margin: 0;
    /* padding-left: 50px; */
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.center a{
    display: block;
    max-width: 297px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 20px 24px;
    line-height: 150%;
    color: #115793;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}
.gift .container{
    border: 1px solid blue;
}
.block{
    height: 200px;
    background-color: red;
}

.gift-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gift_item{
    width: 24%;
}
