html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    line-height: 150%;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1440px;
    width: 96%;
    margin: 0 auto;
}

.hero {
    background-image: url(../images/herobg.jpg);
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.header {
    padding: 30px 0 20px;
    border-bottom: 1px rgba(255, 255, 255, 0.6) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header a {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    text-decoration: none;
}

.header a+a {
    margin-left: 40px;
}

.center {
    max-width: 953px;
    margin: 205px 0;
    color: #fff;
}

.center h1 {
    margin: 0;
    font-size: 50px;
    line-height: 120%;

}

.center p {
    margin: 20px 0 50px;
    line-height: 150%;
    max-width: 831px;
}

.center a {
    display: block;
    max-width: 297px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px 24px;
    line-height: 150%;
    color: #115793;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    color: #fff;
}

.round {
    height: 84px;
    width: 84px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.bottom span {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.gift .container {
    max-width: 1440px;
    border: 1px solid white;
    margin-top: 100px;
   
}
.container{
    display: flex;
    flex-wrap: wrap;
   
}


.block1 {
    margin: 10px;
    max-width: 832px;
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
}

.block {
    width: 345px;
    height: 216px;
    background-color: #e6f9ff;
    border-radius: 10px;
}


.gift-item {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.block p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;  
    max-width: 295px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 72px;
    display: flex;
    align-items:center
}
.block img {
    padding-top: 25px;
    padding-left: 25px;
}
.slovo {
    color: #ffffff;
    margin: 0;
    padding-left: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.gift .container {
    border: 1px solid white;
}
.block{
    height: 200px;
    background-color: #e6f9ff;
}
.gift-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px -10px -10px -10px;
}
.gift-item {
    width: 24%;
}





.footer{
    background-color: black;
    padding: 30px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer a {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
    text-decoration: none;
}
